<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>squareStone Analysis</title>

    <link rel="preload" as="style" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="preload" as="style" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="preload" as="style" th:href="@{/css/sqStStyle.css}" href="../static/css/sqStStyle.css"/>
    <!--preload map, change BODY link too if needed:-->
    <link rel="preload" as="document"
          th:href="@{'https://www.google.com/maps/embed/v1/place?key='+${mapService.gMap()}+'&amp;q='+${mapping.defaultGaddy}}"
          href="https://www.google.com/maps/embed/v1/"/>
    <!--two more-->

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="commercial, estimating, asheville, nc, north carolina"/>
    <meta name="description" content="CK"/>
    <meta name="robots" content="index,follow"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/sqStStyle.css}" href="../static/css/sqStStyle.css"/>

    <!--<script type="text/javascript" th:src="@{/scripts/velocity.min.js}" src="/static/scripts/velocity.min.js"></script>-->
    <script th:src="@{/scripts/viewport.js}" src="../static/scripts/viewport.js"></script>

</head>

<!--//body border:-->
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<div class="backborder"></div>


<body>
<div class="container">

    <div class="row top">

        <div class="four columns profile">
            <p class="profileText">Back Home</p>

            <a th:href="@{/index}" href="index.html" rel="#home">
                <img th:src="@{img/squareStone.jpg}" src="../static/img/squareStone.jpg"
                     class="profile pic shade"/>
            </a>
        </div><!--PROFILE-->


        <div class="eight columns name">
            <a th:href="@{/index}" href="index.html">
                <h1 class="text shadow link">squareStone</h1></a>

            <a th:href="@{/index}" href="index.html">
                <h2 class="text shadow link u-pull-left">Commercial Property Analysis
                </h2></a>

        </div><!--NAME-->
        <br/>


        <!--CHANGE CURRENT color per page:-->


        <div class="ten columns menuBar">


            <p class="menuText dataField" id="costSum" th:text="'costSum: ' + *{purchaseForm.costSum}">
            </p>



            <a th:href="@{/home}" href="index.html" rel="#home">
                <p class="menuText home shadow current">Home
                </p>
            </a>



            <a th:href="@{/mapping}" href="mapping.html">
                <p class="menuText shadow none">Mapping
                </p>
            </a>
            <a th:href="@{/contact}" href="contact.html">
                <p class="menuText shadow none">Contact</p>
            </a>
            <a th:href="@{/about}" href="about.html">
                <p class="menuText shadow none">About
                </p>
            </a>


            <!--<p class="menuText field" id="gaddy" th:text="'gAddy: ' + *{mapping.gaddy}"></p>-->
            <!--<p th:text="${#dates.format(#dates.createNow(),'MM/dd/YY HH:mm')}">-->
            <!--</p>-->
        </div><!--row two menuBar-->


    </div><!--row TOP--><!--row TOP--><!--row TOP--><!--row TOP-->


    <div class="row middle">

        <div class="six columns main text">
            <p>
                Behold the world's finest Analysis Engine for Commercial Properties.
            </p>
            <p>
                The oft-dreamt tool of architects, builders, and investors alike is here
                [in
                beta].
            </p>
        </div>
        <br/>
        <div class="six columns main back">
            <a th:href="@{/about}" href="about.html">
                <img class="headShot pic shade" th:src="@{img/sqStSheet.jpg}"
                     src="../static/img/sqStSheet.jpg"/>
            </a>
        </div>
    </div><!--row middle-->


    <!--BUTTONS/TABS:-->
    <div class="row middle tabs">

        <div class="row 1">

            <div class="six columns">
                <a th:href="@{/purchase}" href="purchase.html">
                    <button>
                        Purchase Costs
                    </button>
                </a>
            </div>

            <div class="six columns">
                <a th:href="@{/comingSoon}" href="comingSoon.html">
                    <button>
                        Revenue
                    </button>
                </a>
            </div>

        </div><!--row 1-->

        <div class="row 2">

            <div class="six columns">
                <a th:href="@{/spaceDimensions}" href="spaceDimensions.html">
                    <button>
                        Space Dimensions
                    </button>
                </a>
            </div>

            <div class="six columns">
                <a th:href="@{/comingSoon}" href="comingSoon.html">
                    <button>
                        Operating Costs
                    </button>
                </a>
            </div>
        </div><!--row 2-->

    </div><!--row midButton-->


    <!--&lt;!&ndash;//viewport dims:&ndash;&gt;-->
    <!--<div class="row testBar">-->
    <!--<div class="three columns">&lt;!&ndash;at bottom left/right:&ndash;&gt;-->
    <!--//live .js viewport size:-->
    <!--<div class="test vw">vw:</div>-->
    <!--<div class="test vmin">vmin:</div>-->
    <!--<div class="test vh">vh:</div>-->
    <!--<div class="test vmax">vmax:</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash;row testBar&ndash;&gt;-->

</div><!--container-->

</body>
</html>