<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>squareStone Analysis</title>

    <link rel="preload" as="style" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="preload" as="style" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="preload" as="style" th:href="@{/css/sqStStyle.css}" href="../static/css/sqStStyle.css"/>
    <!--preload map, change BODY link too if needed:-->
    <link rel="preload" as="document"
          th:href="@{'https://www.google.com/maps/embed/v1/place?key='+${mapService.gMap()}+'&amp;q='+${mapping.defaultGaddy}}"
          href="https://www.google.com/maps/embed/v1/"/>
    <!--two more-->

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="commercial, estimating, asheville, nc, north carolina"/>
    <meta name="description" content="CK"/>
    <meta name="robots" content="index,follow"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/sqStStyle.css}" href="../static/css/sqStStyle.css"/>

    <!--<script type="text/javascript" th:src="@{/scripts/velocity.min.js}" src="/static/scripts/velocity.min.js"></script>-->
    <script th:src="@{/scripts/viewport.js}" src="../static/scripts/viewport.js"></script>

    <script async="defer" type="text/javascript"
            th:src="${mapService.gLibReq()}"
            src="https://maps.googleapis.com/maps/api/js?key=${gMap}&amp;libraries=places"></script>

    <script type="text/javascript"
    th:src="@{/scripts/initAutoComplete.js}"
    src="../static/scripts/initAutoComplete.js"></script>

    <!--MOVED TO BODY:-->
    <!--<script type="text/javascript"-->
    <!--th:src="@{/scripts/initMap.js}"-->
    <!--src="../static/scripts/initMap.js"></script>-->

</head>

<!--//body border:-->
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<div class="backborder"></div>


<body>
<div class="container">

    <div class="row top">

        <div class="four columns profile">
            <p class="profileText">Back Home</p>

            <a th:href="@{/index}" href="index.html" rel="#home">
                <img th:src="@{img/squareStone.jpg}" src="../static/img/squareStone.jpg"
                     class="profile pic shade"/>
            </a>
        </div>

        <div class="eight columns name">
            <a th:href="@{/index}" href="index.html">
                <h1 class="text shadow link">squareStone</h1></a>

            <a th:href="@{/index}" href="index.html">
                <h2 class="text shadow link u-pull-left">Commercial Property Analysis
                </h2></a>

        </div>
        <br/>
        <!--CHANGE CURRENT color per page:-->
        <div class="ten columns menuBar">
            <a th:href="@{/mapping}" href="mapping.html">
                <p class="menuText shadow current">Mapping
                </p>
            </a>
            <a th:href="@{/contact}" href="contact.html">
                <p class="menuText shadow none">Contact</p>
            </a>
            <a th:href="@{/about}" href="about.html">
                <p class="menuText shadow none">About
                </p>
            </a>

            <a th:href="@{/home}" href="index.html" rel="#home">
                <p class="menuText home shadow none">Home
                </p>
            </a>
            <div>
                <code class="menuText" id="costSum" th:text="'costSum: ' + *{purchaseForm.costSum}">
                </code>
                <code class="menuText" id="gaddyTop" th:text="'gAddy: ' + *{mapping.gaddy}"></code>
            </div>
            <!--<p th:text="${#dates.format(#dates.createNow(),'MM/dd/YY HH:mm')}">-->
            <!--</p>-->
        </div><!--row two menu-->

    </div><!--row top-->


    <div class="row middle">

        <div class="twelve columns">
            <form th:action="@{/mapping}" action="#" th:object="${mapping}" method="post">
                <table>
                    <tr>
                        <th class="tableHeader">
                            <h1 class="tableHeader">
                                Map a property:
                            </h1>
                        </th>
                    </tr>
                    <tr>
                        <td class="tableLabel row">
                            <label class="tableLabel" for="gaddy">Address:</label>
                            <input type="text" th:field="*{gaddy}" id="gaddy" class="tableField"
                                   placeholder="...enter Address"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="button" value="Submit"/>
                        </td>
                    </tr>
                </table>
            </form>

        </div>


        <div id="autoMap">
        </div><!--map-->

        <!--<script type="text/javascript"-->
        <!--th:src="@{/scripts/initMap.js}"-->
        <!--src="../static/scripts/initMap.js"></script>-->


        <!--preload map above, change HEAD link too if needed:-->
        <!--<iframe name="gMap" class="mapcontent" frameborder="0" style="border:0"-->
        <!--th:src="@{'https://www.google.com/maps/embed/v1/place?key='+${gMap}+'&amp;q='+${mapping.defaultCoord}+'&amp;zoom=13'}"-->
        <!--src="https://www.google.com/maps/embed/v1/"></iframe>-->


        <!--TEST:-->
        <!--<div class="twelve columns mapArea">-->
        <!--<div id="map"></div>-->
        <!--</div>-->

        <br/>
        <!--DRAWN MAP:-->
        <div class="twelve columns mapArea topMarg">
            <!--preload map above, change HEAD link too if needed:-->
            <iframe name="gMapSV" class="map" frameborder="0" style="border:0"
                    th:src="@{'https://www.google.com/maps/embed/v1/place?key='+${mapService.gMap()}+'&amp;q='+${mapping.defaultGaddy}}"
                    src="https://www.google.com/maps/embed/v1/">

                <!--th:src="@{'https://www.google.com/maps/embed/v1/streetview?key='+${gMap}+'&amp;location='+${mapping.defaultCoord}+'&amp;heading=-95'}"-->

            </iframe>
        </div><!--map-->

        <!--OVERHEAD SAT:-->
        <div class="twelve columns mapArea">
            <!--preload map above, change HEAD link too if needed:-->
            <iframe name="gMapSV" class="map" frameborder="0" style="border:0"
                    th:src="@{'https://www.google.com/maps/embed/v1/view?key='+${mapService.gMap()}+'&amp;center=35.9657642,-78.9567109&amp;zoom=13&amp;maptype=satellite'}"
                    src="https://www.google.com/maps/embed/v1/">

            </iframe>
        </div><!--map-->

        <!--STREETVIEW:-->
        <div class="twelve columns mapArea">
            <!--preload map above, change HEAD link too if needed:-->
            <iframe name="gMapSV" class="map" frameborder="0" style="border:0"
                    th:src="@{'https://www.google.com/maps/embed/v1/streetview?key='+${mapService.gMap()}+'&amp;location='+${mapping.defaultCoord}+'&amp;heading=-95'}"
                    src="https://www.google.com/maps/embed/v1/">

                <!--th:src="@{'https://www.google.com/maps/embed/v1/streetview?key='+${gMap}+'&amp;location='+${mapping.defaultCoord}+'&amp;heading=-95'}"-->

            </iframe>
        </div><!--map-->
    </div><!--row middle-->


    <!--&lt;!&ndash;//viewport dims:&ndash;&gt;-->
    <!--<div class="row testBar">-->
    <!--<div class="three columns">&lt;!&ndash;at bottom left/right:&ndash;&gt;-->
    <!--//live .js viewport size:-->
    <!--<div class="test vw">vw:</div>-->
    <!--<div class="test vmin">vmin:</div>-->
    <!--<div class="test vh">vh:</div>-->
    <!--<div class="test vmax">vmax:</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash;row testBar&ndash;&gt;-->

</div><!--container-->

</body>
</html>