<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>Spartan Trash Valet, LLC &#8211; Door-to-door trash valets</title>

    <link rel="preload" as="style" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="preload" as="style" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="preload" as="style" th:href="@{/css/sqStStyle.css}" href="../static/css/sqStStyle.css"/>
    <!--preload map, change BODY link too if needed:-->


    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="commercial, valet, trash, garbage, service, apartment, ga, georgia, nc, north carolina"/>
    <meta name="description" content="SV"/>
    <meta name="robots" content="index,follow"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/svStyle.css}" href="../static/css/svStyle.css"/>

    <!--OLD:-->
    <!--<script src="https://unpkg.com/react/umd/react.development.js"></script>-->
    <!--<script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>-->
    <!--<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>-->

    <script src="https://unpkg.com/react@15.4.1/dist/react-with-addons.js"></script>
    <script src="https://unpkg.com/react-dom@15.4.1/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.19.0/babel.min.js"></script>


</head>

<!--//body border:-->
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<div class="backborder"></div>


<body>

<div class="container">

    <div class="row top">

        <div class="row profile">

            <div class="four columns" style="width: fit-content">
                <!--<p class="profileText">Back Home</p>-->

                <a th:href="@{/index}" href="index.html" rel="#home">
                    <img th:src="@{img/spartanLogo.png}" src="../static/img/spartanLogo.png"
                         class="profile pic shadow"/>
                </a>
            </div>

            <div class="eight columns profile name">
                <a th:href="@{/index}" href="index.html">
                    <h1 class="text shadow link">Door-to-Door Trash Valet Services</h1></a>

                <a th:href="@{/index}" href="index.html">
                    <h2 class="text shadow link u-pull-left">Spartan Trash Valet, LLC
                    </h2></a>

            </div><!--NAME-->

            <div id="clock" class="menuBarFieldBack clock">
            </div><!--CLOCK-->
            <br/>
        </div><!--row profile-->


        <!--CHANGE CURRENT color per page:-->
        <div class="ten columns menuBar">

            <a th:href="@{/home}" href="index.html" rel="#home">
                <p class="menuText home shadow current">Home
                </p>
            </a>

            <a th:href="@{/svMapping}" href="svMapping.html">
                <p class="menuText shadow none">Mapping
                </p>
            </a>
            <a th:href="@{/svAbout}" href="svAbout.html">
                <p class="menuText shadow none">About
                </p>
            </a>


        </div><!--row two menuBar-->

        <!--<div class="menuBarFieldBack values">-->
        <!--<fieldset style="margin-bottom: 0">-->

        <!--<div class="none" style="padding: 0">-->
        <!--&lt;!&ndash;<legend>Total:</legend>&ndash;&gt;-->
        <!--<label for="totalSqFt">totalSqFt: </label>-->
        <!--<p class="menuText dataField values" id="totalSqFt">-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="none" style="padding: 0">-->
        <!--<label for="purchaseCost">purchaseCosts: </label>-->
        <!--<p class="menuText dataField values" id="purchaseCost">-->
        <!--</p>-->
        <!--</div>-->
        <!--</fieldset>-->

        <!--</div>&lt;!&ndash;menuBarFieldBack values&ndash;&gt;-->

    </div><!--row TOP-->


    <div class="row middle">

        <div class="row main back">
            <div class="six columns main text">
                <p class="index1">
                    We are here to serve your community!
                </p>
                <br/>
                <p class="index2">
                    Trash valet service has been voted by multi-family residents as the top value-added amenity. We'll
                    bring this service to your residents by providing door-to-door trash pickup 5 days per week. Our
                    professional staff will ensure that your community stays clean and clear of trash debris.</p>
            </div>
            <div class="six columns main">
                <img th:src="@{img/spartanAptBckgrdSm.jpg}" src="../static/img/spartanAptBckgrdSm.jpg"
                     class="profile pic shadow"/>
            </div>


            <!--BUTTONS/TABS:-->
            <div class="six columns main text">
                <a th:href="@{/purchase}" href="purchase.html">
                    <button>
                        Purchase Costs
                    </button>
                </a>
            </div>
            <div class="six columns main text">
                <a th:href="@{/comingSoon}" href="comingSoon.html">
                    <button>
                        Revenue
                    </button>
                </a>
            </div>


            <div class="six columns main text">
                <a th:href="@{/spacedims}" href="spacedimsOLD.html">
                    <button>
                        Space Dimensions
                    </button>
                </a>
            </div>

            <div class="six columns main text">
                <a th:href="@{/comingSoon}" href="comingSoon.html">
                    <button>
                        Operating Costs
                    </button>
                </a>
            </div>
        </div><!--row main back-->
    </div><!--row middle-->

    <!--//viewport dims:-->
    <div class="row testBar">
        <div class="three columns"><!--at bottom left/right:-->
            Desktop: drag corner to resize
            <!--<div class="test vw">vw:</div>-->
            <!--<div class="test vmin">vmin:</div>-->
            <!--<div class="test vh">vh:</div>-->
            <!--<div class="test vmax">vmax:</div>-->
        </div>
    </div><!--row testBar-->

    <script type="text/babel" th:src="@{/scripts/Clock.js}" src="../static/scripts/Clock.js">
    </script>


</div><!--container-->

</body>
</html>



